
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

.nk-header-menu .nk-navbar .navbar-mobile .navbar-active{
  z-index: 999999 !important;
  position:fixed !important;
  height:100vh !important;
  overflow-y:hidden !important;
}